<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="${user.getName() + '''s Info'}">User's Info</title>
</head>
<body>
<h2 th:text="${user.getName() + '''s Info'}">Title</h2>
<div style="color: #3e3e3e">
    <h4 th:text="${'ID: ' + user.getId()}">id</h4>
    <h4 th:text="${'Name: ' + user.getName()}">name</h4>
    <h4 th:text="${'E-mail: ' + user.getEmail()}">email</h4>
    <h4 th:text="${'Phone Number: ' + user.getPhoneNumber()}">phone</h4>
    <h4 th:text="${'Gender: ' + user.getGender().getText()}">gender</h4>
    <h4 th:text="${'Date of Birth: ' + #dates.format(dateOfBirth, 'MM/dd/yyyy')}">date_of_birth</h4>
</div>
<form method="post" th:action="@{/logout}">
    <input type="submit" value="Logout" />
</form>
</body>
</html>